{{- define "main" }}
  <div class="main-article-div">
    {{- $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{- $dateHuman := .Date | time.Format ":date_long" }}
    <p class="published-date">
      <label>Published:</label>&nbsp;<time
        datetime="
        {{ $dateMachine }}"
        >{{ $dateHuman }}</time
      >
    </p>
    <h1 class="title">{{ .Title }}</h1>
    <article>{{ .Content }}</article>
    <section class="authors">
      <label>Authors:</label>&nbsp;{{ partial "authors.html" . }}
    </section>
    <section class="tags">
      {{ partial "tags.html" . }}
    </section>
  </div>
{{- end }}
